<template>
  <div class="container about-text">
    <h2 class="colorize">Project VuePoint</h2>
    <p>Collaborative student work developing a weekly task board that serves as an overview
        for a list of self-defined tasks.</p>
    <p>Offering basic CRUD abilities for users to work with their tasks:</p>
    <ul>
        <li>add tasks</li>
        <li>see task details</li>
        <li>update tasks</li>
        <li>delete tasks</li>
    </ul>
    <p class="colorize">Built with Python, Flask, Vue.js and Bootstrap.</p>
  </div>
</template>

<script>

</script>

<style>
h2{
    letter-spacing: 1px;
    margin: 2em 0 0.5em 0;
}

.about-text {
    margin-left: 50px;
    float: left;
    width: 40%;
}

.colorize{
    color: #4962B3;
}
</style>
