<template>
  <b-container id="home">
    <b-row class="justify-content-center">
      <add-task v-if="csrfToken" :csrfToken="csrfToken" v-on:add-task="addTask"></add-task>
      <week-view v-if="csrfToken" :csrfToken="csrfToken"
      :taskList="taskList" v-on:del-task="deleteTask"
      v-on:compl-task="markTaskAsDone" v-on:edit-task="editTask"></week-view>
    </b-row>

    <b-row class="justify-content-center">
      <b-col>
      <div role="tablist">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button class="acc-btn" block href="#" v-b-toggle.accordion-1
            variant="light">
              Completed Tasks
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>
                <completed-tasks v-if="csrfToken" :csrfToken="csrfToken"
                :taskList="taskList" v-on:incompl-task="editTask"
                v-on:del-task="deleteTask">
                </completed-tasks>
              </b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button class="acc-btn" block href="#" v-b-toggle.accordion-2
            variant="light">
              History of all Tasks
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <task-history :taskList="taskList" v-on:del-task="deleteTask"></task-history>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>
import axios from 'axios';
import sweetalert from 'sweetalert';
import WeekView from '../WeekView';
import CompletedTasks from '../CompletedTasks';
import AddTask from '../AddTask';
import TaskHistory from '../TaskHistory';

export default {
  name: 'Home',
  components: {
    'completed-tasks': CompletedTasks,
    'week-view': WeekView,
    'add-task': AddTask,
    'task-history': TaskHistory,
  },
  data() {
    return {
      taskList: [],
      csrfToken: undefined,
    };
  },
  methods: {
    initializeData() {
      const path = 'http://localhost:5000/list';
      axios.get(path)
        .then((res) => {
          this.taskList = res.data.tasks;
          this.csrfToken = res.data.csrf_protection;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    addTask(payload) {
      const path = 'http://localhost:5000/list';
      axios.post(path, payload)
        .then(() => {
          this.initializeData();
          sweetalert('Done!', 'Task created!', 'success', { buttons: false, timer: 1500 });
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.initializeData();
        });
    },

    deleteTask(id) {
      const path = `http://localhost:5000/list/${id}`;
      sweetalert({
        title: 'Delete this task?',
        text: 'Are you sure? You won\'t be able to revert this!',
        icon: 'warning',
        buttons: true,
      }).then((confirmed) => {
        if (confirmed) {
          axios.delete(path, id)
            .then(() => {
              this.initializeData();
              sweetalert('Done!', 'Task deleted!', 'success', { buttons: false, timer: 1500 });
            })
            .catch((error) => {
              // eslint-disable-next-line
              console.error(error);
              this.initializeData();
            });
        } else {
          sweetalert('Cancelled', 'Your task has not been deleted.', 'error',
            { buttons: false, timer: 1700 });
        }
      });
    },

    editTask(payload) {
      const pathDel = `http://localhost:5000/list/${payload.id}`;
      axios.put(pathDel, payload)
        .then(() => {
          this.initializeData();
          sweetalert('Done!', 'Task updated!', 'success', { buttons: false, timer: 1500 });
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.initializeData();
        });
    },

    markTaskAsDone(id) {
      const path = `http://localhost:5000/list/${id}`;
      axios.put(path, id)
        .then(() => {
          this.initializeData();
          sweetalert('Done!', 'Task completed!', 'success', { buttons: false, timer: 1500 });
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.initializeData();
        });
    },
  },

  created() {
    this.initializeData();
  },
};
</script>

<style scoped>
.acc-btn, .acc-btn:active, acc-btn:focus {
  outline: none !important;
  box-shadow: none;
}

.p-1 {
    background-color: transparent;
    letter-spacing: 1px;
}

.row {
  margin: 2em 0;
}
</style>
