<template>
 <div class="completed_tasks_view">
      <b-list-group v-for="task in completedTasks()" :key="task.id">
        <div class="text-left">
          <b-list-group-item variant="success">#{{task.id}}
            <em v-b-popover.hover.right="task.taskDescription" title="Details">{{task.title}}</em>
            <input checked type="checkbox" v-on:change="submitUpdateRequest(task)">
            <b-button class="close" aria-label="Close" v-on:click="$emit('del-task', task.id)">
              <span aria-hidden="true">&times;</span>
            </b-button>
            </b-list-group-item>
        </div>
      </b-list-group>
 </div>
</template>

<script>
export default {
  name: 'completedTasks',
  props: ['taskList', 'csrfToken'],
  data() {
    return {
    };
  },
  methods: {
    completedTasks() {
      return this.taskList.filter(task => task.taskState === 1);
    },

    submitUpdateRequest(task) {
      const payload = {
        id: task.id,
        title: task.title,
        taskDescription: task.taskDescription,
        dueDate: task.dueDate,
        flag: task.flag,
        taskState: '0',
        csrfToken: this.csrfToken,
      };
      this.$emit('incompl-task', payload);
    },
  },
};
</script>

<style scoped>
</style>
